header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1%;
}

#project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

#create-project, #import-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  padding: 2.5%;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  width: 40%;
  font-weight: bold;
}

#projects-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

#search {
  border: none;
  align-self: center;
  width: 100%;
  padding: 2%;
  border-radius: 20px;
  background-color: #363636;
  color: white;
  text-align: center;
  font-size: 2rem;
}

#search::-webkit-search-cancel-button {
  color: white;
  font-weight: bold;
}

::-webkit-search-cancel-button {
  color: white;
  background-color: white;
}

::placeholder {
  text-align: center;
  color: white;
  font-weight: bold;
}

#projects-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 25vw;
  padding: 1%;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 2.5%;
  word-break: break-word;
}

.project h2 {
  text-align: center;
}

.project-options {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
}

.project-options p {
  cursor: pointer;
}

.launch, #create-project {
  color: #56B7FF;
}

.delete {
  color: #F44336;
}

#create-project-parent, #import-project-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 31, 31, 0.5);
}

#create-project-dialog, #import-project-dialog {
  width: 65%;
  height: 65%;
  background-color: #363636;
  border-radius: 10px;
}

#create-project-dialog, #import-project-dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2%;
}

#create-project-dialog h1, #import-project-dialog h1 {
  align-self: center;
}

#create-project-body, #import-project-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

#create-project-body button, #import-project-body button {
  background-color: #1F1F1F;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2%;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

#create-project-body .create, #import-project-body .import {
  color: #56B7FF;
}

#inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 60%;
  width: 100%;
}

#inputs label {
  padding-bottom: 2%;
}

#inputs div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

#project-path-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4%;
  padding-bottom: 0;
}

#project-name-input, #project-godot-version-input, #project-path-input {
  width: 80%;
  height: auto;
  align-self: center;
  border: none;
  border-radius: 10px;
  background-color: #1F1F1F;
  color: white;
  padding: 2%;
  outline: none;
}

#project-path-input {
  width: 50%;
  height: auto;
  align-self: center;
  border: none;
  border-radius: 10px;
  background-color: #1F1F1F;
  color: white;
  padding: 2%;
  outline: none;
}

#project-path-input:disabled {
  width: 60%;
  font-size: 1rem;
  background-color: hsl(0, 0%, 17%);
}

#browse {
  font-size: 0.8rem;
}


#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.warning {
  color: #F44336;
  padding-left: 10%;
  font-size: 0.9rem;
}

.empty {
  color: #F44336;
}

#importing {
  color: #56B7FF;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  align-self: center;
}

#confirm-delete-project-parent  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 31, 31, 0.5);
}

#confirm-delete-project-element {
  width: 50%;
  height: 25%;
  background-color: #363636;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

#confirm-delete-project-element {
  width: 60%;
  height: 35%;
}

#confirm-delete-project-element p {
  margin-bottom: 5%;
}

#confirm-delete-project-element p:first-child {
  margin-bottom: 0%;
}

#delete-project-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#delete-project-name-confirm-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


#delete-project-name-confirm-text-bar {
  width: 50%;
  height: auto;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #1F1F1F;
  color: white;
  padding: 1%;
  outline: none;
}

#confirm-delete-project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#confirm-delete-project-buttons button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2%;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

#confirm-delete-project-button {
  background-color: #F44336;
}

#confirm-delete-project-button:disabled {
  background-color: hsl(0, 0%, 17%);
  cursor: not-allowed;
}

#cancel-delete-project-button {
  background-color: #56B7FF;
}