<html>
  <head>
    <meta charset="UTF-8">
    <title>Godot Hub - Versions</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link rel="stylesheet" type="text/css" href="../main.css">
    <link rel="stylesheet" type="text/css" href="versions.css">
  </head>
  <body>
    <h1><span id="back">&larr;</span> Versions</h1>
    <section id="installed-versions">
      <h2>Installed Versions</h2>
      <section id="installed-versions-list"></section>
    </section> 
    <section id="avilable-versions">
      <h2>Available Versions</h2>
      <section id="available-versions-list"></section>
    </section>
    <script src="versions.js"></script>
  </body>
</html>