#installed-versions-list  {
  padding-left: 1%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#available-versions-list {
  padding-left: 1%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

article {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 22vh;
  min-width: 22vw;
  padding: 2%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  margin-bottom: 2.5%;
}

.install, .uninstall, .install-export-templates {
  cursor: pointer;
}

.install, .install-export-templates {
  color: #56B7FF;
}

.uninstall {
  color: #F44336;
}

.release-section section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; 
}

h1 {
  padding-top: 1%;
}

h2 {
  padding-left: 1%;
}

.progress {
  background-color: #56B7FF;
  padding: 5%;
  border-radius: 5px;
  font-size: 0.8rem;
}

p[class^="stop"] {
  cursor: pointer;
  color: #F44336;
}

#confirm-uninstall-version-parent, #confirm-stop-download-version-parent, #confirm-stop-all-downloads-parent  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 31, 31, 0.5);
}

#confirm-uninstall-version-element, #confirm-stop-download-version-element, #confirm-stop-all-downloads-element {
  width: 50%;
  height: 25%;
  background-color: #363636;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

#confirm-stop-all-downloads-element {
  width: 60%;
  height: 35%;
}

#confirm-uninstall-version-element p, #confirm-stop-download-version-element p, #confirm-stop-all-downloads-element p {
  margin-bottom: 5%;
}

#confirm-stop-all-downloads-element p:first-child {
  margin-bottom: 0%;
}

#uninstall-version-body, #stop-download-version-body, #stop-all-downloads-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#confirm-uninstall-buttons, #confirm-stop-download-buttons, #confirm-stop-all-downloads-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#confirm-uninstall-buttons button, #confirm-stop-download-buttons button, #confirm-stop-all-downloads-buttons button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2%;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

#confirm-uninstall-button, #confirm-stop-download-button, #confirm-stop-all-downloads-button {
  background-color: #F44336;
}

#cancel-uninstall-button, #cancel-stop-download-button, #cancel-stop-all-downloads-button {
  background-color: #56B7FF;
}

.hidden {
  display: none;
}