<html>
  <head>
    <meta charset="UTF-8">
    <title>Godot Hub - Settings</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link rel="stylesheet" type="text/css" href="../main.css">
    <link rel="stylesheet" type="text/css" href="settings.css">
  </head>
  <body>
    <h1><span id="back">&larr;</span> Settings</h1>
    <section>
      <h3>Godot Hub Path</h3>
      <article>
        <input id="godot-hub-path" type="text" disabled>
        <button id="change-path">Change</button>
      </article>
    </section>
    <section>
      <h3>Default Godot Version</h3>
      <article>
        <select id="default-godot-version"></select>
      </article>
    </section>
    <section>
      <h3>Clear Godot Hub Cache Files</h3>
      <button id="clear-cache">clear cache</button>
    </section>
    <script src="settings.js"></script>
  </body>
</html>