html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #1F1F1F;
  color: white;
  user-select: none;
  overflow-x: hidden;
}

h1 {
  padding-top: 1%;
}

ul {
  list-style-type: none;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0.65rem;
}
 
::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 5px;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {
  background-color: #1F1F1F;
}

::-webkit-scrollbar-button {
  display: none;
}

#back {
  color: #56B7FF;
  cursor: pointer;
}

::selection {
  background-color: #56B7FF;
  color: white;
}
