<html>
  <head>
    <meta charset="UTF-8">
    <title>Godot Hub</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link rel="stylesheet" type="text/css" href="./../../index.css">
    <link rel="stylesheet" type="text/css" href="firstTime.css">
  </head>
  <body>
    <section id="import">
      <h1>Import Godot Hub</h1>
      <input id="import-godot-hub" type="file" webkitdirectory>
    </section>
    <section id="create">
      <h1>Create Godot Hub</h1>
    </section>
    <script src="firstTime.js"></script>
  </body>
</html>