@import url('./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #1F1F1F;
  user-select: none;
}