<html>
  <head>
    <meta charset="UTF-8">
    <title>Godot Hub</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link rel="stylesheet" type="text/css" href="../main.css">
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div>
      <section id="projects">
        <h1>Projects</h1>
      </section>
      <section id="versions">
        <h1>Versions</h1>
      </section>
    </div>
    <div>
      <section id="tutorials">
        <h1>Tutorials</h1>
      </section>
      <section id="about">
        <h1>About</h1>
      </section>
    </div>
    <script src="index.js"></script>
  </body>
</html>